:root {
    --main-bgd-color: #ffffff;
    --footer-bgd-color: #2F303A;
    --title-color: #212121;
    --link-color: #757575;
    --h1-color: #ffffff;
    --link-selection-button: rgba(33, 150, 243, 1);
    --hover-hero-button: #188CE8; 
    --footer-color-contacts: rgba(255, 255, 255, 0.6); 
    --team-bg-colorr: #F5F4FA;
    --client-svg-color: #AFB1B8;
    --footer-link-color:rgba(255, 255, 255, 0.1);
    --hero-sectiom-bg: #C4C4C4;
    --galerry-card-bg:rgba(33, 150, 243, 0.9);
    --animation-timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    --form-color: rgba(255, 255, 255, 0.3);
    --modal-border-color:rgba(33, 33, 33, 0.2);
    --modal-color:rgba(33, 33, 33, 1);
}

  
body {
    color: var(--title-color);
    background-color: var(--main-bgd-color);
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.03em;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}



img {
    display: block;
    max-width: 100%;
    height: auto;
  }

a {
    text-decoration: none 
}

li {
    list-style-type: none 
}

/*header*/
  
.page-header > .container {
    display: flex; 
  }

.site-nav {
    display: flex;
    align-items: center;
}

.navigation {
    display: block;
    display: flex;
    align-items: center;
}

.page-header {
    border-bottom: 1px solid #ececec;
}
.logo {
    display: block;
    margin-right: 93px;
    margin-left: 0px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway, sans-serif;
    color: var(--link-selection-button)
}

.logo-header {
    font-family: Raleway, sans-serif;
    color: var(--title-color)
}

.link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: color var(--animation-timing-function);
    color: var(--title-color);  
}

.link:hover,
.link:focus {
    color: var(--hover-hero-button);
}

.current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--link-selection-button); 
}

.current {
    position: relative;
    color: var(--link-selection-button);
}

.current:focus::after,
.current:hover::after {
    background-color: var(--link-selection-button);
}


.page-header .item:not(:last-child) {
    margin-right: 50px;
}
 
/*contacts navigation*/

.contacts {
    display: inline-flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 14px;    
    line-height: 1.14;
    transition: color var(--animation-timing-function),
    color var(--animation-timing-function);
    color: var(--link-color)   
}

.site-nav::after {
    background-image: url(../images/envelope.png);
}

.contacts:hover,
.contacts:focus {
    color: var(--link-selection-button);
}

.contacts-svg1 {
    width: 16px;
    height: 12px;
    margin-right: 10px; 
    fill: currentColor; 
}

.contacts-svg2 {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
}

.site-contacts {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    align-items: center;
}


.site-contacts :not(:last-child) {
    margin-right: 50px;
    margin-left: 0px;
}





/*button*/

.button-hero {
    cursor: pointer;
    padding: 10px 32px;
    font-family: inherit;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    border-color: transparent;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function), box-shadow var(--animation-timing-function);
    color: var(--h1-color);
    background-color: var(--link-selection-button)
    
    
}

.button-hero:hover,
.button-hero:focus {
    background-color: var(--hover-hero-button)   
}



/*hero section*/

.hero-section {
    text-align: center;
    text-transform: uppercase;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1600px;
    
    background-color:var(--hero-sectiom-bg);
    background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4) 
    ), url(../images/hero-img.jpg);
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}


.title-header {  
    margin: auto;
    max-width: 696px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color:  var(--h1-color);
    margin-bottom: 30px;
    text-transform: uppercase;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  } 

/*section ckill company. soft skill. work */


.skill-company {
    
    padding-top: 94px;
    padding-bottom: 47px;
 }
 

.features {
    display: flex;
}
                                                   
.h3-features {
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-color);
}

.p-features {
    font-size: 14px;
    line-height: 1.71;
    color: var(--link-color)
}

.skill-room:not(:last-child) {
    max-width: 270px;
    margin-right: 30px;
}

.company-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: var(--team-bg-colorr);
}



      /*work*/

.work {
    padding-top: 47px;
    padding-bottom: 94px;
}

.h2-work {
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
    
}

.work-room {    
    display: block;
    display: flex
}

.work-link:not(:last-child) {
    margin-right: 30px;
}

.work-link {
    position: relative;
}

.p-work {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    width: 370px;
    height: 70px; 
    color: var(--h1-color);
    background-color: rgba(47, 48, 58, 0.8);
}

  /*team*/

.h2-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}

.team-text {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}



.team {
    padding-top: 94px;
    padding-bottom: 94px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  
    background-color: var(--team-bg-colorr)
}


.h3-team {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--title-color); 
}

.p-team {
    font-size: 16px;
    line-height: 1.18;
    color: var(--link-color);
    margin-bottom: 16px;   
}

.team-block {
    display: flex; 
}


.team-bg {
    background-color: var(--main-bgd-color);
    text-align: center;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 4px 4px;
}

.team-bg:not(:last-child) {
    margin-right: 30px;
}



.team-block-link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.team-link {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.team-item { 
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    width: 44px;
    height: 44px;
    fill: var(--client-svg-color);
    transition: background-color var(--animation-timing-function), fill var(--animation-timing-function);
      
}


.team-item:hover,
.team-item:focus {
    background-color: var(--hover-hero-button);
    fill: var(--h1-color);
}

.team-link:not(:last-child) {
    margin-right: 10px;
}

/*clients*/

.client {
    padding-top: 94px;
    padding-bottom: 94px;
}


.h2-client {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-color);
}

.client-block {
    display: flex;
    justify-content: space-between;
    
}

.client-list:not(:last-child) {
    margin-right: 30px;
}

.client-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border: 1px solid var(--client-svg-color);
    border-radius: 4px;
    fill: var(--client-svg-color);
    transition: fill var(--animation-timing-function), border-color var(--animation-timing-function);
}

.client-item:hover,
.client-item:focus {
    fill: var(--hover-hero-button);
    border-color: var(--link-selection-button);
}

/*footer*/

.footer {
    margin-right: auto;
    margin-left: auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--footer-bgd-color);
    
}

.footer .logo {
    margin-bottom: 20px;
}

.logo-footer {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    font-family: Raleway, cursive;
    color: var(--h1-color)
}



.contacts-footer {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    transition: color var(--animation-timing-function);
    color: var(--footer-color-contacts)
}

.contacts-footer:hover,
.contacts-footer:focus {
    color: var(--link-selection-button);
}

.map-link {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--h1-color);
    transition: color var(--animation-timing-function);
}

.map-link:hover,
.map-link:focus {
    color: var(--link-selection-button);
}

.footer-item:not(:last-child) {
    margin-bottom: 9px;
}

/*footer modal*/



.footer-text-modal {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--h1-color);
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--link-selection-button);
    fill: var(--h1-color);
    color: var(--h1-color);

    transition: background-color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}


.footer-button:hover,
.footer-button:focus {
    background-color: var(--hover-hero-button);
}

.svg-button {
    margin-left: 10px;
}



.input-footer {
    width: 358px;
    height: 50px;
    padding: 0px 16px;
    margin-right: 12px;
    background-color: transparent;
    border: 1px solid var(--form-color);
    border-radius: 4px;
    color: var(--form-color);
    box-shadow:4px 0px 4px rgba(0, 0, 0, 0.15);
    outline: none;
    transition: border-color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}

.input-footer:focus {
    border-color: var(--link-selection-button);
}

.imput-footer::placeholder {
    font-size: 16px;
    line-height: 1.25px;
    letter-spacing: 0.03em;
    color: var(--form-color);
}


.footer-room {
    display: flex;
    margin-top: 20px;
}

      /* footer svg*/        

.footer > .container {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    
}

.footer-block-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer-section-link {
    margin-left: 70px;
    margin-right: 83px;
}

.footer-text {
    display: block;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: var(--h1-color);
    margin-bottom: 20px;
}



.footer-link-svg:not(:last-child) {
    margin-right: 10px;
}

.footer-item-svg {
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 100%;
    width: 44px;
    height: 44px;
    fill: var(--h1-color);
    background-color: var(--footer-link-color);
    transition: background-color var(--animation-timing-function),
    fill var(--animation-timing-function);
}

.footer-item-svg:hover,
.footer-item-svg:focus {
    background-color: var(--hover-hero-button);
}

         /*portfolio*/
        
 .galerry {
    padding-top: 94px;
    padding-bottom: 94px; 
}        

.portfolio-h2 {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-color);
}

.p-portfolio {
    font-size: 16px;
    line-height: 1.88;
    color: var(--link-color);
    
}

.portfolio-block .portfolio-item {
    display: block;
    margin: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    text-align: start;
}

.portfolio-link {
    display: block;
}

.portfolio-link:hover,
.portfolio-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        transition: box-shadow var(--animation-timing-function);
}


.portfolio-link:hover .overlay-text,
.portfolio-link:focus .overlay-text {
    color: var(--h1-color);
    background-color: var(--galerry-card-bg);
    opacity: 1;
    transform: translateY(0);
}

.portfolio-room {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    gap: 30px;
}

.portfolio-block {
    text-indent: 24px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee; 
    padding-top: 20px;
    padding-bottom: 20px; 
}

.overlay-text {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    padding: 63px 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--h1-color);
    transition: transform var(--animation-timing-function), background-color var(--animation-timing-function),
    color var(--animation-timing-function);
    transform: translateY(100%);
}

.thamb {
    position: relative;  
    overflow: hidden;
}

/*кнопки портфолио*/

.button:hover,
.button:focus {
    background-color: var(--link-selection-button);
    color: var(--h1-color);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.12);
}

.button {
    padding: 6px 22px 6px 22px;
    border-radius: 4px;
    border: 1px solid transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    line-height: 1.62;
    font-family: inherit;
    transition: background-color var(--animation-timing-function),
    color var(--animation-timing-function), box-shadow var(--animation-timing-function);
}


.button-portfolio {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-bottom: 50px;
}

/*модальне вікно*/



.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;

    transition: opacity var(--animation-timing-function);
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity var(--animation-timing-function);

    /* transform: translate(0, 100%) scale(0.2);    */
}

/*modal-imput*/

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 4px;
    
    min-width: 528px;
    min-height: 581px;
    background-color: var(--h1-color);
    animation: changeTranslate var(--animation-timing-function);
    box-shadow: 1px 0px 2px rgba(0, 0, 0, 0.2), 1px 0px 1px rgba(0, 0, 0, 0.14), 3px 0px 1px rgba(0, 0, 0, 0.12);
}



.button-close {
    display: flex;
    justify-items: center;
    align-items: center;
    margin: auto;
    transition: fiil var(--animation-timing-function);
}

.button-close:hover,
.button-close:focus {
    fill: var(--link-selection-button);
}

.data-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 100%;
    border:1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--h1-color);
}

.no-scroll {
    overflow: hidden;
}

/*modal info*/

.h2-modal {
    display: block;
    text-align: center;
    text-transform: none;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--modal-color);
}

.label-room {
    margin-bottom: 10px;
}


.label-room input {
    padding: 12px 15px 12px 42px;
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    border-color: var(--modal-border-color);
    outline: none; 
}

.label-info input:focus + svg {
    fill: var(--link-selection-button);
}

.label-room input:focus {
    border-color: #188CE8;
}


.label-room label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color:  rgba(117, 117, 117, 1);
}




.label-room textarea::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.label-info {
    position: relative;
    width: 100%;
    height: 40px;
    transition: border color var(--animation-timing-function);
}

.label-info svg  {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: fill var(--animation-timing-function);
}

.label-room textarea {
    display: block;
    resize: none;
    width: 448px;
    height: 120px;
    padding: 16px 12px;
    border: 1px solid var(--modal-border-color);
    border-radius: 4px;
    outline: none;
}

.label-room textarea:focus {
    border-color: var(--link-selection-button);
}

.button-modal {
    display: block;
    align-items: center;
    cursor: pointer;
    padding: 10px 52px;
    border-radius: 4px;
    border-color: transparent;
    margin: 0 auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--link-selection-button);
    color: var(--h1-color);
    transition: background-color var(--animation-timing-function),
    box-shadow var(--animation-timing-function);
}

.button-modal:hover {
    background-color: var(--hover-hero-button);
}

.accept {
    align-items: center;
    
    margin-bottom: 30px;
    margin-left: 13px;
}


.accept label {
    display: flex;
    align-items: center;
    text-transform: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);    
}

.modal-link {
    margin-left: 5px;
    
    color: var(--link-selection-button);
    text-decoration: underline;
    
}

.checkbox { 
    display: flex;
    align-items: center;
    border: 2px solid var(--modal-color);
    border-radius: 3px; 
    margin-right: 7px;
    width: 16px;
    height: 15px;
    transition: fill var(--animation-timing-function), background-color var(--animation-timing-function),border color var(--animation-timing-function);
     
}

.accept input:checked + .checkbox {
    background-color: var(--link-selection-button);
    border: 2px solid var(--link-selection-button);
}






/*анімація*/
/*
@keyframes changeOpacity {
    0%{
        opacity: 0; 
    }

    100% {
        opacity: 1;
    } 
}

@keyframes changeTranslate {
    0% {
        transform: translate(-50%, 300%);
         }
    }